$bp-small-576: 36em; // 567px
$bp-small-768: 48em; // 768px
$bp-medium-992: 62em; // 992px
$bp-medium-1024: 64em; // 1024px
$bp-medium-1200: 75em; // 1200px
$bp-large-1366: 85.375em; // 1366px
$bp-xlarge-1620: 101.250em; // 1620px
$bp-xxlarge-1920: 120em; // 1920px


// Main ticket search form
.main-ticket-search_form {
  width: 100%;
  position: relative;

  &__filters {
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;

    &-button {
      justify-content: center;
      align-items: center;
      padding: 14px 20px;
      border-radius: 5px 5px 0px 0px;
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      cursor: pointer;

      &.active {
        background: #CE833F;
        color: $color-white;
        border-radius: 5px 5px 0px 0px;
      }
    }

    &-button:not(:last-child) {
      margin-right: 3px;
      color: $color-main;
      background-color: $color-white;
    }
  }

  &-inner {
    position: relative;
    border: 1px solid rgb(255 255 255 / 70%);

    form {
      position: relative;
      z-index: 10;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      backdrop-filter: blur(10px);
    }
  }

  .ticket-search-row {
    display: flex;
    justify-content: space-between;
    padding: 24px 14px;

    & > div:not(:first-child) {
      border-left: 2px solid $color-white;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
    }

    .from-block {
      position: relative;

      button.date-activator__btn_switch {
        position: absolute;
        left: -18px;
        top: 24%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.17);
      }
    }

    & > div {
      flex-basis: 25%;

      div.activator-click {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;

        button {
          border: none;
          outline: none;
          background: none;

          cursor: pointer;
        }
      }

      div.activator-content {
        text-align: right;

        label {
          font-size: 18px;
          line-height: 21px;
        }

        div {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          margin-top: 13px;
        }
      }
    }

    .search-block {
      display: flex;
      justify-content: center;
      padding-top: 7px;
      padding-right: 14px;
    }

    .filters-block {
      &__item:first-child {
        margin-bottom: 16px;
      }

      &__item {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;

        label {
          font-size: 18px;
          line-height: 21px;
          margin-right: 10px;
        }
      }
    }
  }
}

.section-header-search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  &__title {
    font-weight: 500;
    font-size: 44px;
    text-align: right;
    margin-bottom: 22px;
  }
  &__icons {
    padding-top: 35px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;

    &-item + &-item {
      margin-left: 140px;
    }

    .icon img {
      max-width: 70px;
    }

    &-item {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 270px;

      .text {
        margin-right: 20px;
        text-align: right;
      }
    }
  }
}
